# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PYTHON\API_Notifier\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
